{% extends 'main/base.html' %}

{% block title %}
    
{{request.user.username}} | Profile

{% endblock title %}

{% block internalcss %}
    
    <style>

        .profile-info{
               
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
        }

    </style>


{% endblock internalcss %}


{% block page_name %}

    {% if request.user.first_name %}
        {{ request.user.first_name }} | Profile
    {% else %}
    {{request.user.username}} | Profile

    {% endif %}

{% endblock page_name %}

{% block content %}

    <div class="profile-info">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">


                        {% if request.user.first_name %}
                        {{ request.user.first_name }} | Profile
                    {% else %}
                    {{request.user.username}} | Profile
                
                    {% endif %}
                    </span><span class="text-black-50">
                        {% if request.user.email %}
                        {{ request.user.email }}
                    {% else %}
                      please add email
                
                    {% endif %}

                    </span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Info</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="{% if request.user.first_name %}{{ request.user.first_name }}{% else %}Add first name
                                {% endif %}"  value=""></div>
                            <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="{% if request.user.last_name %}{{ request.user.last_name }}{% else %}Add last name
                                {% endif %}" ></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        </div>
        </div>
           
         
    </div>

{% endblock content %}

