{% extends 'main/base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% block title %}
    
{{request.user.username}} | Profile

{% endblock title %}

{% block messages %}

<div class="messages">
    
{% if messages %}
{% for message in messages %}
  <div class="message-{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}
</div>

{% endblock messages %}



{% block page_name %}

    {% if request.user.first_name %}
        {{ request.user.first_name }} | Profile
    {% else %}
    {{request.user.username}} | Profile

    {% endif %}

{% endblock page_name %}

{% block content %}

    <div class="profile-info">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                        {% if request.user.profile.image %}
                        <img class="rounded-circle mt-5" width="150px" src="{{ request.user.profile.image.url }}" alt="userimage">


                        {% else %}
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">

                        <form action="{% url 'main:profile_pic_upload' %}" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <input type="file" name="profile_img" id="profile_img">

                            <button type="submit" class="btn btn-primary">Upload</button>

                        </form>


                        {% endif %}
                        
                        
                        
                        <span class="font-weight-bold">


                        {% if request.user.first_name %}
                        {{ request.user.first_name }} | Profile {% if request.user.profile.is_librarian %}
                        |  Librarian
                            {% endif %}
                    {% else %}
                    {{request.user.username}} | Profile  {% if request.user.profile.is_librarian %}
                           |  Librarian
                    
                    {% endif %}
                
                    {% endif %}
                    </span><span class="text-black-50">
                        {% if request.user.email %}
                        {{ request.user.email }}
                    {% else %}
                      please add email
                
                    {% endif %}

                    </span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Info</h4>
                        </div>
                        <form action="" method="post" >
                            {% csrf_token %}
                        <div class="row mt-2">

                            <div class="col-md-6"><label class="labels">Name</label><input minlength="2" name="first_name" type="text" class="form-control" placeholder="{% if request.user.first_name %}{{ request.user.first_name }}{% else %}Add first name
                                {% endif %}"  value="" ></div>
                            <div class="col-md-6"><label class="labels">Surname</label><input minlength="2" name="last_name" type="text" class="form-control" value="" placeholder="{% if request.user.last_name %}{{ request.user.last_name }}{% else %}Add last name
                                {% endif %}" ></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input name="mobile_number" type="text" class="form-control" placeholder="{% if request.user.profile.mobile_number %}{{ request.user.profile.mobile_number }}{% else %}enter phone number
                                {% endif %}" value=""></div>
                            
                        </div>

                        <button class="btn btn-primary mt-3">
                            Update
                        </button>
                    </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
        </div>
        </div>
           
         
    </div>

{% endblock content %}

